<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherAPI</title>
    <link rel="stylesheet" href="style.css">
    <style>
        html {
            background-image: url("https://source.unsplash.com/random/?<%=cityName%>&city");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <span><%= currentTime + " " + amOrPm %></span>
        <h1>WeatherAPI</h1>
        <form autocomplete="off" action="/" method="GET">
            <input id="userInput" type="text" name="search-city" placeholder="Enter city name">
        </form>
        <div class="container-temp">
            <h2>
                <%= temp + "°F" %>
            </h2>
            <!-- TODO: thunder + snow + rain conditions -->
            <h2 class="weather-condition">
            <% if (time < sunrise || time > sunset) { %>
                <% if ( rain >= 0.10 ) { %>
                    <img src="./images/night-rain.png" alt="rain night icon"/> Rain
                <% } else if ( snowfall >= 0.10 ) { %>
                    <img src="./images/night-snow.png" alt="snow night icon"/> Snow
                <% } else if ( cloudCover < 20) { %>
                    <img src="./images/night-clear.png" alt="clear night icon"> Clear
                <% } else if ( cloudCover < 60) { %>
                    <img src="./images/night-cloud.png" alt="cloudy-night icon"> Partly Cloudy
                <% } else { %>
                    <img src="./images/night-cloud.png" alt="cloud icon"> Cloudy
                <% } %>
            <% } else { %>
                <% if ( rain >= 0.10 ) { %>
                    <img src="./images/rainy-day.png" alt="rain icon"/> Rain
                <% } else if ( snowfall >= 0.10 ) { %>
                    <img src="./images/snowing2.png" alt="snow icon"/> Snow
                <% } else if ( cloudCover < 20) { %>
                    <img src="./images/sun.png" alt="sunny icon"> Sunny
                <% } else if ( cloudCover < 60) { %>
                    <img src="./images/cloudy-day.png" alt="cloudy-day icon"> Partly Cloudy
                <% } else { %>
                    <img src="./images/cloud.png" alt="cloud icon"> Cloudy
                <% } %>
            <% } %>
            </h2>
        </div>

        <span class="weather-city">
            <% if (cityState == undefined) { %>
                <%= cityName %>
            <% } else { %>
                <%= cityName + ", " + cityState %>
            <% } %>
        </span>
        <span><%= highTemp %>° / <%= lowTemp %>°</span>
        <br>
        <!-- <div class="weather-details">
            <span>Precipitation %</span>
        </div> -->
        <div class="weather-details">
            <span>Wind</span>
            <span><%= windSpeed %></span>
        </div>
        <div class="weather-details">
            <span>Humidity</span>
            <span><%= humidity %></span>
        </div>
        <div class="weather-details">
            <span>Dew Point</span>
            <span><%= dewPoint %></span>
        </div>
        <div class="weather-details">
            <span>Visibility</span>
            <span><%= visibility %></span>
        </div>
        <div class="weather-details">
            <span>Sunrise:</span>
            <span><%= (sunriseHr + ":" + sunriseMin + sunriseAmOrPm) %></span>
        </div>
        <div class="weather-details">
            <span>Sunset:</span>
            <span><%= (sunsetHr + ":" + sunsetMin + sunsetAmOrPm) %></span>
        </div>

        <h3 style="margin-bottom:2px">Hourly Forecast</h3>
        <div class="weather-hourly">
            <% for (let i = 0; i < 5; i++) { %>
                <% let weatherHours = new Date(weatherHr.time[hr + i] * 1000) %>
                <% let hours = weatherHours.getHours() %>
                <% let amOrPmm = hours >= 12 ? " pm" : " am" %>
                <% hours === 0 ? hours += 12 : hours %>
                <% hours > 12 ? hours -= 12 : hours %>
                <div class="weather-hourly-container">
                    <span ><%= hours + amOrPmm %></span>
                </div>
            <% } %>
        </div>
            
        <h3 style="margin-bottom:2px">Daily Forecast</h3>
        <div class="weather-daily">
            <% weekday = new Array("Sun","Mon","Tue","Wed","Thu","Fri","Sat") %>
            <% for (let i = 0; i < weekday.length; i++) { %>
                <% let weatherDate = new Date(weatherDaily.time[i]*1000) %>
                <% let weatherDay = weatherDate.getDay() %>
                <div class="weather-daily-container">
                    <span> <b><%= weekday[weatherDay] %></b> </span>
                    <span> <%= weatherDaily.temperature_2m_max[i] + "°" %> </span>
                    <span> <%= weatherDaily.temperature_2m_min[i] + "°" %> </span>
                </div>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>