<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherAPI</title>
    <link rel="stylesheet" href="style.css">
    <style>
        html {
            background-image: url("https://source.unsplash.com/random/?<%=cityName%>&city");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <span><%= currentTime + " " + amOrPm %></span>
        <h1>WeatherAPI</h1>
        <form autocomplete="off" action="/" method="GET">
            <input id="userInput" type="text" name="search-city" placeholder="Enter city name">
        </form>
        <section class="temp-display">
            <div class="temp-container">
                <h2><%= temp + "°F" %></h2>
                <%- include("./partials/weatherCondition") %>
            </div>
            <h2 class="weather-condition">
            <% if (time < sunrise || time > sunset) { %>
                <%- include("./partials/weatherConditionNight") %>
            <% } else { %>
                <%- include("./partials/weatherConditionDay") %>
            <% } %>
            </h2>
        </section>

        <span class="weather-city">
            <% if (cityState == undefined) { %>
                <%= cityName %>
            <% } else { %>
                <%= cityName + ", " + cityState %>
            <% } %>
        </span>
        <span><%= highTemp %>° / <%= lowTemp %>°</span>
        <br>
        <!-- <div class="weather-details">
            <span>Precipitation %</span>
        </div> -->
        <div class="weather-details">
            <span>Wind</span>
            <span><%= windSpeed %></span>
        </div>
        <div class="weather-details">
            <span>Humidity</span>
            <span><%= humidity %></span>
        </div>
        <div class="weather-details">
            <span>Dew Point</span>
            <span><%= dewPoint %></span>
        </div>
        <div class="weather-details">
            <span>Visibility</span>
            <span><%= visibility %></span>
        </div>
        <div class="weather-details">
            <span>Sunrise:</span>
            <span><%= (sunriseHr + ":" + sunriseMin + sunriseAmOrPm) %></span>
        </div>
        <div class="weather-details">
            <span>Sunset:</span>
            <span><%= (sunsetHr + ":" + sunsetMin + sunsetAmOrPm) %></span>
        </div>

        <h3>Hourly Forecast</h3>
        <div class="weather-hourly">
            <% for (let i = 0; i < 5; i++) { %>
                <% let date = new Date(weatherHr.time[hr + i] * 1000) %>
                <% let hours = date.getHours() %>
                <% let amOrPm = hours >= 12 ? " pm" : " am" %>
                <% let minutes = date.getMinutes() %>
                <% if (minutes < 10) { minutes = "0" + minutes } %>
                <% let time; %>
                <% if (hours < 10) { time = "0" + hours + ":" + minutes} else { time = hours + ":" + minutes} %>
                <% hours > 12 ? hours -= 12 : hours %>
                <% hours === 0 ? hours += 12 : hours %>
                <div class="weather-hourly-container">
                    <span><%= hours + amOrPm %></span>
                    <% if (time < sunrise || time > sunset) { %>
                        <%- include("./partials/weatherConditionNight") %>
                    <% } else { %>
                        <%- include("./partials/weatherConditionDay") %>
                    <% } %>
                    <span> <%= Math.round(weatherHr.temperature_2m[hr + i]) + "°" %></span>
                </div>
            <% } %>
        </div>
            
        <h3>Daily Forecast</h3>
        <div class="weather-daily">
            <% weekday = new Array("Sun","Mon","Tue","Wed","Thu","Fri","Sat") %>
            <% for (let i = 0; i < weekday.length; i++) { %>
                <% let date = new Date(weatherHr.time[i*24+13]*1000) %>
                <% let weatherDay = date.getDay() %>
                <% let hours = date.getHours() %>
                <% hr = i*24+13 %>
                
                <div class="weather-daily-container">
                    <span> <b><%= weekday[weatherDay] %></b> </span>
                    <%- include("./partials/weatherConditionDay") %>
                    <span> <%= Math.round(weatherDaily.temperature_2m_max[i]) + "°" %> </span>
                    <span> <%= Math.round(weatherDaily.temperature_2m_min[i]) + "°" %> </span>
                </div>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>