<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherAPI</title>
    <link rel="stylesheet" href="style.css">
    <style>
        html {
            background-image: url("https://source.unsplash.com/random/?<%=cityName%>&city");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <span><%= currentTime + " " + amOrPm %></span>
        <h1>WeatherAPI</h1>
        <form autocomplete="off" action="/" method="GET">
            <input id="userInput" type="text" name="search-city" placeholder="Enter city name">
        </form>
        <section class="temp-display">
            <div class="temp-container">
                <h2><%= temp + "°F" %></h2>
                <%- include("./partials/weatherCondition") %>
            </div>
            <h2 class="weather-condition">
            <% if (time < sunrise || time > sunset) { %>
                <%- include("./partials/weatherConditionNight") %>
            <% } else { %>
                <%- include("./partials/weatherConditionDay") %>
            <% } %>
            </h2>
        </section>

        <span class="weather-city">
            <% if (cityState == undefined) { %>
                <%= cityName %>
            <% } else { %>
                <%= cityName + ", " + cityState %>
            <% } %>
        </span>
        <span><%= highTemp %>° / <%= lowTemp %>°</span>
        <br>
        <!-- <div class="weather-details">
            <span>Precipitation %</span>
        </div> -->
        <div class="weather-details">
            <span>Wind</span>
            <span><%= windSpeed %></span>
        </div>
        <div class="weather-details">
            <span>Humidity</span>
            <span><%= humidity %></span>
        </div>
        <div class="weather-details">
            <span>Dew Point</span>
            <span><%= dewPoint %></span>
        </div>
        <div class="weather-details">
            <span>Visibility</span>
            <span><%= visibility %></span>
        </div>
        <div class="weather-details">
            <span>Sunrise:</span>
            <span><%= (sunriseHr + ":" + sunriseMin + sunriseAmOrPm) %></span>
        </div>
        <div class="weather-details">
            <span>Sunset:</span>
            <span><%= (sunsetHr + ":" + sunsetMin + sunsetAmOrPm) %></span>
        </div>

        <h3>Hourly Forecast</h3>
        <div class="weather-hourly">
            <% for (let i = 0; i < 5; i++) { %>
                <% let date = new Date(weatherHr.time[hr + i] * 1000) %>
                <% let hours = date.getUTCHours() %>
                <% hours += utcOffset %>
                <% if (hours < 0) { hours += 24 } %>
                <% if (hours >= 24) { hours -= 24 } %>
                <% let time = hours < 10 ? "0" + hours + ":00" : hours + ":00" %>
                <% let amOrPm = hours < 12 || hours > 23 ? " am" : " pm" %>
                <% if (hours > 12) { hours -= 12} %>
                <% if (hours === 0) { hours += 12} %>
                
                <div class="weather-hourly-container">
                    <span><%= hours + amOrPm %></span>
                    <% let rain = weatherHr.rain[hr + i] %>
                    <% let cloudCover = weatherHr.cloudcover[hr + i] %>
                    <% let snowfall = weatherHr.snowfall[hr + i] %>
                    <% if (time < sunrise || time > sunset) { %>
                        <% if ( rain >= 0.10 ) { %>
                            <img src="./images/night-rain.png" alt="rain night icon"/>
                        <% } else if ( snowfall >= 0.10 ) { %>
                            <img src="./images/night-snow.png" alt="snow night icon"/>
                        <% } else if ( cloudCover < 20) { %>
                            <img src="./images/night-clear.png" alt="clear night icon">
                        <% } else if ( cloudCover < 60) { %>
                            <img src="./images/night-cloud.png" alt="cloudy-night icon">
                        <% } else { %>
                            <img src="./images/night-cloud.png" alt="cloud icon">
                        <% } %>
                    <% } else { %>
                        <% if ( rain >= 0.10 ) { %>
                            <img src="./images/rainy-day.png" alt="rain icon"/>
                        <% } else if ( snowfall >= 0.10 ) { %>
                            <img src="./images/snowing2.png" alt="snow icon"/>
                        <% } else if ( cloudCover < 20) { %>
                            <img src="./images/sun.png" alt="sunny icon">
                        <% } else if ( cloudCover < 60) { %>
                            <img src="./images/cloudy-day.png" alt="cloudy-day icon">
                        <% } else { %>
                            <img src="./images/cloud.png" alt="cloud icon">
                        <% } %>
                    <% } %>
                    <span> <%= Math.round(weatherHr.temperature_2m[hr + i]) + "°" %></span>
                </div>
            <% } %>
        </div>
            
        <h3>Daily Forecast</h3>
        <div class="weather-daily">
            <% weekday = new Array("Sun","Mon","Tue","Wed","Thu","Fri","Sat") %>
            <% for (let i = 0; i < weekday.length; i++) { %>
                <% let date = new Date(weatherHr.time[i*24+13]*1000) %>
                <% let weatherDay = date.getDay() %>
                <% let hours = date.getHours() %>
                <% hr = i*24+13 %>
                <div class="weather-daily-container">
                    <span> <b><%= weekday[weatherDay] %></b> </span>
                    <% let rain = weatherHr.rain[hr] %>
                    <% let cloudCover = weatherHr.cloudcover[hr] %>
                    <% let snowfall = weatherHr.snowfall[hr] %>
                    <% if ( rain >= 0.10 ) { %>
                        <img src="./images/rainy-day.png" alt="rain icon"/>
                    <% } else if ( snowfall >= 0.10 ) { %>
                        <img src="./images/snowing2.png" alt="snow icon"/>
                    <% } else if ( cloudCover < 20) { %>
                        <img src="./images/sun.png" alt="sunny icon">
                    <% } else if ( cloudCover < 60) { %>
                        <img src="./images/cloudy-day.png" alt="cloudy-day icon">
                    <% } else { %>
                        <img src="./images/cloud.png" alt="cloud icon">
                    <% } %>
                    <span> <%= Math.round(weatherDaily.temperature_2m_max[i]) + "°" %> </span>
                    <span> <%= Math.round(weatherDaily.temperature_2m_min[i]) + "°" %> </span>
                </div>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>